@tailwind base;
@tailwind components;
@tailwind utilities;

.card.flip-effect {
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  transition: 0.3s;
}

.card:hover {
  --translate-y: -0.25rem;
}
.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.input-minimized-padding {
  padding-top: 0;
  margin-top: 0;
}
